html{
    height: 100%;
}


.page-bg {
    background-image: url("/background.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }



.container{
    margin-top: 120px;
    margin-left: 30%;
}

#logo{
    width:400px;
    max-width:50%;
    margin-left:8%;
}

 .col-lg-6 {
    margin-top: 20px;
   max-width: 50%;
   
}

.pie {
    margin-top: 130px;
  }
  

.nums{
    position: absolute; 
    bottom: 45px; 
    left: 5px; 
}


  .num0{
    position: absolute; 
    bottom: 182px; 
    left: 595px;  
    width: 400px; 
    font-weight: bold; 
    color: black;
    font-size: 22px;
}


  .num1{
      position: absolute; 
      bottom: 220px; 
      left: 895px; 
      width: 400px; 
      font-weight: bold; 
      color: white;
      font-size: 20px;
  }
  
  .num2{
      position: absolute; 
      bottom: 70px; 
      left: 815px; 
      width: 400px; 
      font-weight: bold; 
      color: white;
      font-size: 20px;
  }
  
  .num3{
      position: absolute; 
      bottom: 140px; 
      left: 675px; 
      width: 400px; 
      font-weight: bold; 
      color: white;
      font-size: 20px;
  }
  
  .num4{
      position: absolute; 
      bottom: 258px; 
      left: 700px; 
      width: 400px; 
      font-weight: bold; 
      color: white;
      font-size: 20px;
  }
  
  .num5{
      position: absolute; 
      bottom: 300px; 
      left: 760px; 
      width: 400px; 
      font-weight: bold; 
      color: white;
      font-size: 20px;
  }